<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.obcn.memoleep">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/memoleep"
        android:label="@string/app_name"
        android:theme="@style/NoActionBarTheme">
        <activity
            android:name=".Activity.TopActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".Activity.TopActivity" />-->
        <activity android:name=".Activity.LessonDetailsActivity"/>
        <activity android:name=".Activity.LessonListActivity"/>
        <activity android:name=".Activity.LessonSleepActivity"/>
        <activity android:name=".Activity.SettingsActivity"/>

    </application>

</manifest>
